<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Welcome to the text analyzer , enter ur text below</h1>
<form action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; width: 1278px; height: 81px;'></textarea>
    <br>
    <input type="checkbox" name="removepunc">Removepunc<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type='submit'> Analyze Text</button<form action="/analyze" method="get">>
</form>

<form action="/pesnav" method="get">
    <button type="submit">personal navigation</button>
</form>


</body>
</html>